body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #333; /* Negro */
    color: #fff; /* Blanco */
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('tu_imagen.jpg') center/cover no-repeat;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333; /* Negro */
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #555; /* Gris oscuro */
}

section {
    padding: 20px;
    margin-top: 70px;
    background-color: #f7f7f7; /* Gris claro */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
    color: #333; /* Gris oscuro */
}

h2 {
    color: #333; /* Gris oscuro */
}

.about-me {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff; /* Blanco */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    transition: transform 0.3s ease; /* Transición para el efecto de aumento */
}

.about-me:hover {
    transform: scale(1.05); /* Aumenta al pasar el ratón */
}

.photo-grid {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.photo-grid img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

.project-tiles, .exercise-tiles {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.project-tile, .exercise-tile {
    width: calc(33.3333% - 20px);
    margin-right: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.project-tile:hover, .exercise-tile:hover {
    transform: scale(1.05);
}

footer {
    background-color: #333; /* Negro */
    color: #fff; /* Blanco */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form {
    display: grid;
    grid-gap: 20px;
}

button {
    background-color: #333; /* Negro */
    color: #fff; /* Blanco */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555; /* Gris oscuro */
}

.contact-info {
    text-align: center;
}

.social-icons img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

@media only screen and (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333; /* Negro */
        border-bottom: 2px solid #555; /* Gris oscuro */
    }

    nav.show {
        display: flex;
    }

    nav a {
        display: block;
        padding: 15px;
        text-align: center;
    }

    section {
        margin-top: 20px;
    }

    .about-me, .photo-grid {
        margin-top: 10px;
    }

    .project-tile, .exercise-tile {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}
