body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #aae5eb;
    color: #333;
}

header {
    background-color: #2d38aa;
    color: rgb(149, 208, 219);
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

nav {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: rgb(0, 0, 0);
}

section {
    margin-top: 20px;
    text-align: center;
}

article {
    background-color: #fff;
    width: 45%;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    float: left;
    box-sizing: border-box;
    margin-top: 20px;
}

article img {
    max-width: 100%;
    height: auto;
}

article p {
    margin-bottom: 15px;
}

article a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #333;
    background-color: #f8f8f8;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

article a:hover {
    background-color: #e0e0e0;
}

.formulario-contacto {
    width: 60%;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    margin-bottom: 8px;
    display: block;
}

form input,
form textarea,
form select {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form button {
    background-color: #2d38aa;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #1c2474;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.redes-sociales {
    margin-top: 10px;
}

.redes-sociales a {
    margin: 0 10px;
}

.redes-sociales img {
    width: 30px;
    height: 30px;
}
